*
*/
!BasicBuilder.csproj
!*/Scripts
!.gitignore
!*.py
!*.tscn
!Buildables.json
!readme.md
!.sln
!*.tres
!project.godot
!Scripts\SaveHandler.cs
!Scripts\SaveInfoButton.cs
!Scripts\SaveMenuContainer.cs
!Scripts\SLDButton.cs
!Scripts\Utils.cs